body {
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: #1a1a1a !important;
}

/* HERO */
.hero-section {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url('https://images.unsplash.com/photo-1504674900247-0877df9cc836') center/cover;
    height: 60vh;
    color: white;
    text-align: center;
}

/* TITRES */
.section-title {
    border-bottom: 3px solid #e67e22;
    display: inline-block;
    margin-bottom: 20px;
}

/* CARTES */
.card {
    border: none;
    transition: 0.3s;
}

.card img { height : 250px; }

.card:hover {
    transform: translateY(-5px);
}

/* BOUTON */
.btn-custom {
    background-color: #e67e22;
    color: white;
}

.btn-custom:hover {
    background-color: #d35400;
    color: white;
}